<div class="galeria">
    <img src="./assets/img/rym2.jpeg" alt="rickandmorty" title="rickandmorty" routerLink="/info">
    <img src="./assets/img/disney.jpeg" alt="disney" title="disney" routerLink="/disney">
    <img src="./assets/img/valorant.jpeg" alt="valorant" title="valorant" routerLink="/valorant">
    <img src="./assets/img/finalspace.jpeg" alt="finalspace" title="finalspace" routerLink="/final-space">
    <img src="./assets/img/dragonball.jpeg" alt="dragonball" title="dragonball" routerLink="/dragonball">
</div>
