.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    align-items: center;
}

.galeria img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
    z-index: 10;
}